<div>

  <!-- Footer -->
<footer class="page-footer font-small pt-4" style="color: white; background-color: black;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-center">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Infinity Jobs</h5>
        <p>Your dream job is just a click away!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">


        <ul class="list-unstyled" style="font-weight: bold;">
          <li>
            <a href="/" style="text-decoration: none; color: white;">Home</a>
          </li>
          <li>
            <a href="/allCompanies" style="text-decoration: none; color: white;">Companies</a>
          </li>
          <li>
            <a href="/allDevelopers" style="text-decoration: none; color: white;">Developers</a>
          </li>
          <li>
            <a href="/allJobs" style="text-decoration: none; color: white;">Jobs</a>
          </li>
        </ul>

      </div>
      
      <div class="col-md-4 mb-md-0 mb-3">

        <a class="navbar-brand" href="#">
          <img src="/images/logo.jpg" height="100px" style="border-radius: 100px;" class="d-inline-block align-top" alt=""
            loading="lazy">
        </a>
      </div>
    </div>
    

  

  <h5 style="font-weight: lighter;">Email: infinityJobs3@gmail.com</h5>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> InfinityJobs.com</a>
  </div>
  <!-- Copyright -->
</div>
</footer>
<!-- Footer -->

</div>
 