<!--partial template for navigation bar-->
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.jpg" height="40" style="border-radius: 100px;" class="d-inline-block align-top" alt=""
        loading="lazy">
      <h4>InfinityJobs</h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Developers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allJobs">Jobs</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pages
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">About Us</a>
            <a class="dropdown-item" href="#">Contact Us</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        
      </ul>
      <div>
        <ul class="nav-item ">
          <button class="btn btn-outline-success my-2 my-sm-0" ><a class="nav-link"
            href="/register" >Register</a></button>
            <button class="btn btn-outline-success my-2 my-sm-0" ><a class="nav-link"
              href="/login" >Login</a></button>
          
          </ul>
      </div>

    </div>
  </nav>
</div>