<!----Sidebar for all company related pages-->
<div class="col-lg-1 col-xl-3 bd-sidebar" id="Section1">
    <button type="button" class="btn btn-dark btn-block"><a href="#"
        style="text-decoration: none; color: rgb(255, 255, 255);">Profile</a></button>
    <button type="button" class="btn btn-dark btn-block"><a href="#"
            style="text-decoration: none; color: rgb(255, 255, 255);">Edit Profile</a></button>
    <button type="button" class="btn btn-dark btn-block"><a href="#"
            style="text-decoration: none; color: rgb(255, 255, 255);">Post a Job</a></button>
    <button type="button" class="btn btn-dark btn-block"><a href="#"
            style="text-decoration: none; color: rgb(255, 255, 255);">Anything here</a></button>
 <button type="button" class="btn btn-dark btn-block"><a href="/logout" style="text-decoration: none; color: rgb(255, 255, 255);">Log Out</a></button>
</div>