<!-------Company profile that appears after login-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">

</head>

<body>
    <%- include ('partials/nav2') %>
    <!---for sidebar that contains edit profile,post a job,profile and logout buttons-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-xl-3 bd-sidebar" id="Section1">
                <button type="button" class="btn btn-dark btn-block"><a href="/companyProfile"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Profile</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/company"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Edit Profile</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/postJob"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Post a Job</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/company/postedJobs"
                        style="text-decoration: none; color: rgb(255, 255, 255);">All posted Jobs</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="#"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Anything here</a></button>
                <button type="button" class="btn btn-dark btn-block"><a href="/logout"
                        style="text-decoration: none; color: rgb(255, 255, 255);">Log Out</a></button>
            </div>



            <!---Section regarding profile starts here-->
            <!--------->
            <!--------->
            <!--------->
            <!--------->
            <!--------->
            <div class="col-md-8" id="Section2">

                <!--Company details to be imported from db-->
                <div class="row ">
                    <div class="col">
                        
                        <div class="CompanyDetails" id="Details">
                            <!--------img to be dynamically added-->
                            <div><img src="/images/developerIcon.jpg" height="100" style="border-radius: 20px;"></div>
                            <h3><%=user.email%> </h3>
                            <h5>Company Address</h5>
                            <h6>Website</h6>
                            <h6>Contact Info</h6>
                        </div>
                    </div>
                </div>
               
                <div style="padding: 10px; margin: 2px;">
                <h5 >Jobs Posted</h5> 
            </div>
                <!---jobs to be taken from db-->
                <div class="row" id="postedJobs">
                    
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Job1</h5>
                                <p class="card-text">Job description</p>
                                <a href="#" class="btn btn-primary">get details</a>
                                <!---details like how many have applied for the job,see there resume and accept or reject them-->
                            </div>
                        </div>

                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Job2</h5>
                                <p class="card-text">Job description</p>
                                <a href="#" class="btn btn-primary">get details</a>
                                <!---details like how many have applied for the job,see there resume and accept or reject them-->
                            </div>
                        </div>

                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Job3</h5>
                                <p class="card-text">Job description</p>
                                <a href="#" class="btn btn-primary">get details</a>
                                <!---details like how many have applied for the job,see there resume and accept or reject them-->
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Job3</h5>
                                <p class="card-text">Job description</p>
                                <a href="#" class="btn btn-primary">get details</a>
                                <!---details like how many have applied for the job,see there resume and accept or reject them-->
                            </div>
                        </div>

                    </div>



                </div>

                <!--to search developers -->
                <div class="row" id="search">

                    <div class="container">
                        <div>
                            <h5>Search developers here!!</h5>
                        </div>
                        <form class="form-inline my-9 my-lg-1">
                            <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-3 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>


</html>